Repository ibexa/documentation-user, pull requests merged in 2020-10, with the labels that each got.

#73 EZP-31784 - Autosave description
  docs/creating_content_basic.md
  docs/publishing/publishing.md
  docs/site_organization/working_with_page.md
Labels: Needs DEV review

#74 eZ P "dashboard" -> "My dashboard"
  docs/creating_content_basic.md
  docs/getting_started.md
  docs/publishing/advanced_publishing_options.md
  docs/publishing/editorial_workflow.md
Labels: Needs DOC review

#75 Segments and Targeting block
  docs/img/admin_panel_segment_groups.png
  docs/site_organization/organizing_the_content.md
  docs/site_organization/working_with_page.md
Labels: Ready for MERGE

#81 Path mention added
  docs/site_organization/site_factory.md
Labels: Needs DOC review
