Repository ibexa/documentation-user, pull requests merged in 2023-07, with the labels that each got.

#203 IBX-5644 - Email triggers
  docs/personalization/configure_personalization.md
  docs/personalization/triggers.md
  docs/personalization/use_cases.md
  mkdocs.yml
Labels: Needs DEV review

#209 IBX-6102 - PIM integration
  docs/personalization/configure_scenarios.md
  docs/personalization/filters.md
  docs/personalization/img/scenario_filters.png
Labels: Needs DOC review

#204 IBX-5968: Virtual products
  docs/commerce/order_management/work_with_orders.md
  docs/pim/create_product_types.md
  docs/pim/create_virtual_product.md
  docs/pim/img/create_product_type.png
  docs/pim/img/virtual_product.png
  docs/pim/img/virtual_product_purchase.png
  docs/pim/img/virtual_product_type.png
  docs/pim/products.md
  mkdocs.yml
Labels: Ready for MERGE

#205 IBX-5948: Product page URLs
  docs/pim/img/create_custom_url.png
  docs/pim/img/custom_url.png
  docs/pim/img/url_alias_name_pattern.png
  docs/pim/img/url_attributes.png
  docs/pim/img/url_tab.png
  docs/pim/work_with_product_page_urls.md
  mkdocs.yml
Labels: Needs DOC review

#208 IBX-6116: Scenario block added in 'Block reference' page
  docs/content_management/block_reference.md
Labels: Needs DOC review

#210 IBX-5850: Orders block added to the reference
  docs/content_management/block_reference.md
Labels: Ready for MERGE

#211 IBX-6043: Describe Shipments list and details views in User docs
  docs/commerce/img/commerce_workflow.png
  docs/commerce/img/shipment_detail_view.png
  docs/commerce/img/shipment_filters.png
  docs/commerce/img/shipment_list.png
  docs/commerce/img/shipment_status.png
  docs/commerce/shipping_management/shipping_management.md
  docs/commerce/shipping_management/work_with_shipments.md
  mkdocs.yml
Labels: Needs DOC review

#212 Unify commerce articles
  docs/commerce/order_management/work_with_orders.md
  docs/commerce/payment/work_with_payment_methods.md
  docs/commerce/payment/work_with_payments.md
  docs/commerce/shipping_management/work_with_shipping_methods.md
Labels: Needs DOC review

#213 Changes to PIM and paths
  docs/persona_paths/administrator.md
  docs/pim/manage_prices.md
  docs/pim/products.md
Labels: Needs DOC review

#215 Added vale-checker
  .github/workflows/build.yaml
Labels: Ready for MERGE

#218 IBX-6054 Improve configuration description of Customer Portal creation
  docs/customer_management/build_customer_portal.md
Labels: Ready for MERGE

#219 IBX-6042 - Improve user's guide
  docs/content_management/create_edit_content_types.md
  docs/content_management/edit_images.md
  docs/customer_management/manage_customers.md
  docs/index.md
  docs/persona_paths/manage_products.md
  docs/persona_paths/shop_manager.md
  docs/personalization/configure_models.md
  docs/personalization/content_types.md
  docs/personalization/filters.md
  docs/personalization/recommendation_models.md
  docs/pim/create_edit_product.md
  docs/pim/create_product_types.md
  docs/pim/create_virtual_product.md
  docs/pim/img/attribute_types.png
  docs/pim/img/catalog.png
  docs/pim/img/catalog_create.png
  docs/pim/img/measurement_types.png
  docs/pim/img/product_completeness.png
  docs/pim/manage_availability_and_stock.md
  docs/pim/manage_currencies.md
  docs/pim/manage_prices.md
  docs/pim/products.md
  docs/pim/work_with_catalogs.md
  docs/pim/work_with_product_assets.md
  docs/pim/work_with_product_attributes.md
  docs/pim/work_with_product_categories.md
  docs/pim/work_with_product_page_urls.md
  docs/pim/work_with_product_variants.md
  mkdocs.yml
Labels: Needs DOC review

#214 BX-6175 Multiattributes in submodel computation
  docs/personalization/recommendation_models.md
  docs/personalization/segment_management.md
Labels: Needs DOC review

#220 Add persona meta text
  docs/persona_paths/administrator.md
  docs/persona_paths/editor.md
  docs/persona_paths/organize_content.md
  docs/persona_paths/shop_manager.md
Labels: Needs DOC review
