Repository ibexa/documentation-user, pull requests merged in 2023-11, with the labels that each got.

#236 Added SeenThis page block and custom tag
  docs/content_management/block_reference.md
  docs/content_management/create_edit_content_items.md
Labels: Needs DOC review, Needs DEV review

#233 IBX-6626: Simplify user actions
  docs/content_management/configure_ct_field_settings.md
  docs/content_management/content_model.md
  docs/content_management/content_organization/classify_content.md
  docs/content_management/content_organization/copy_move_hide_content.md
  docs/content_management/content_organization/img/Link_manager_sm.png
  docs/content_management/content_organization/img/content_with_two_locations.png
  docs/content_management/content_organization/img/page_blocks_toolbar.png
  docs/content_management/content_organization/img/role_details.png
  docs/content_management/content_organization/manage_locations_urls.md
  docs/content_management/content_versions.md
  docs/content_management/create_edit_content_items.md
  docs/content_management/create_edit_content_types.md
  docs/content_management/create_edit_pages.md
  docs/content_management/img/add_field.png
  docs/content_management/img/compare_translations.png
  docs/content_management/img/content_scheduler.png
  docs/content_management/img/content_type_general_properties.png
  docs/content_management/img/page_blocks_toolbar.png
  docs/content_management/img/page_builder_elementsettings.png
  docs/content_management/img/publish_later.png
  docs/content_management/img/publishing_options.png
  docs/content_management/img/taxonomy_select_taxonomy_entries.png
  docs/content_management/publish_instantly.md
  docs/content_management/schedule_publishing.md
  docs/content_management/translate_content.md
  docs/content_management/work_with_forms.md
  docs/content_management/workflow_management/work_with_versions.md
  docs/customer_management/img/cp_address_book_portal.png
  docs/customer_management/img/cp_contact_person_back_office.png
  docs/getting_started/img/udw.png
  docs/permission_management/img/role_details.png
  docs/permission_management/work_with_permissions.md
  docs/personalization/configure_scenarios.md
  docs/personalization/img/categorypath_filter.png
  docs/personalization/img/models_time_period.png
  docs/personalization/img/perso_segment_group_sales_hunters.png
  docs/personalization/img/scenario_configuration.png
  docs/personalization/img/scenario_configuration_strategy.png
  docs/personalization/integrate_scenario_results.md
  docs/personalization/scenarios.md
  docs/pim/img/create_new_product.png
  docs/pim/img/create_product_type.png
  docs/pim/img/custom_url.png
  docs/pim/img/product_category_selection.png
  docs/pim/img/url_tab.png
  docs/pim/work_with_product_categories.md
  docs/search_engine_optimization/img/SEO_tags.png
  docs/search_engine_optimization/work_with_seo.md
  docs/website_organization/img/site_factory_new_site_step_2.png
  mkdocs.yml
Labels: Needs DOC review

#242 IBX-6852: Focus mode described
  docs/content_management/create_edit_content_items.md
  docs/content_management/create_edit_pages.md
  docs/content_management/img/access_focus_mode.png
  docs/content_management/img/access_focus_mode_PB.png
  docs/content_management/img/exit_focus_mode.png
  docs/content_management/img/focus_mode.png
Labels: Ready for MERGE

#245 Sentences in 'Focus mode' description fixed
  docs/content_management/create_edit_content_items.md
  docs/content_management/create_edit_pages.md
Labels: Needs DOC review

#244 IBX-6762 Update block reference page
  docs/content_management/block_reference.md
  docs/content_management/img/block_settings.png
Labels: Ready for MERGE

#247 Focus Mode - description & screenshots updated
  docs/content_management/create_edit_pages.md
  docs/content_management/img/exit_focus_mode.png
  docs/content_management/img/focus_mode.png
Labels: Needs DOC review

#249 Amend and add taxonomy entry disclaimers
  docs/content_management/taxonomy/work_with_tags.md
  docs/pim/work_with_product_categories.md
Labels: Needs DOC review
